.burger-button {
    position: relative;
    padding: 0;
    aspect-ratio: 1;
    width: 3.125rem;
    background-color: transparent;
    border: none;

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        width: 50%;
        height: 1px;
        background-color: $color-dark;
        box-shadow: 0 -8px $color-dark, 0 8px $color-dark;
        transition: $transition-duration ease-out;
    }

    &:hover::after {
        background-color: $color-dark;
        box-shadow: 0 -8px $color-dark, 0 8px $color-dark;
        transition: $transition-duration ease-out;
    }
}