.button {
    padding: 0.75rem;
    white-space: nowrap;
    color: $color-dark;

    &:hover {
        color: $color-accent;
    }

    &:active {
        color: $color-accent;
    }

    &--bordered {
        border: 6px double $color-dark;

        &:hover {
            border: 6px double $color-accent;
        }
    }
}