.mobile-overlay {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    background-color: $color-light;
    // opacity: 0.5;

    &:modal {
        max-width: 100%;
        max-height: 100%;
    }

    &__close-button-wrapper {
        display: flex;
        justify-content: end;
    }

    &__list {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        row-gap: 1rem;
        min-height: 80vh;
    }

    &__item {}

    &__item:nth-child(1) .mobile-overlay__link {
        @include flex(row, start, center, 1rem);
    }

    &__item:nth-child(1) .mobile-overlay__link .mobile-overlay__link-text {
        font-size: 2rem;
        font-weight: 700;
    }

    &__link {
        display: inline-flex;
        padding: 1rem;
        font-size: 1.25rem;
        white-space: nowrap;
        background-color: $color-light;
        color: $color-dark;
        justify-content: center;

        &:active {
            color: $color-accent;
        }

        @include mobile-s {
            font-size: 1rem;
        }
    }

    &__link-image {}

    &__link-text {}

    &__link-map-svg {
        aspect-ratio: 1;
        width: 3rem;
        margin: 1rem 1rem 0 0;

        @include mobile-s {
            width: 2rem;
        }
    }

    &__link-map-text {}

    &__link-telephone-svg {
        aspect-ratio: 1;
        width: 3rem;
        margin: 1rem 1rem 0 0;

        @include mobile-s {
            width: 2rem;
        }
    }

    &__link-telephone-text {}
}