.section-title {
    margin-bottom: 3rem;
    padding-top: 2rem;
    font-size: 2.5rem;
    text-align: center;

    @include mobile-l {
        margin-bottom: 1rem;
        padding-top: 4rem;
        font-size: 1.875rem;
    }
}