@use "@/assets/media.scss" as *;

.catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-block: 5rem;
}

.title {
  margin: 0;
  text-align: center;
}

.search {
  &[data-loading] {
    pointer-events: none;
    user-select: none;
    background-color: var(--color-element);
    animation: global(pulse) 1s ease-in-out infinite alternate;
  }

  width: 16rem;
  height: 2.5rem;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 16rem);
  justify-content: center;
  align-items: center;
  gap: 2rem;

  @include tablet-s {
    grid-template-columns: repeat(2, 16rem);
  }

  @include mobile-l {
    grid-template-columns: repeat(1, 16rem);
  }
}

.errorCatalogText {
  color: var(--color-accent);
  text-align: center;
}

.emptyCatalogText {
  text-align: center;
}
