.header {
    &--position {
        position: sticky;
        top: 0;
        z-index: 1000;
        background-color: $color-light;
        box-shadow: 0 0 16px #0000001a;
    }

    &__inner {
        @include flex(column, start, start, 5px);
        padding-top: 15px;
        padding-bottom: 5px;

        @include mobile-l {
            @include flex(row, space-between, center, 10px);
            padding-top: 10px;
        }
    }

    &__top {
        @include flex(row, space-between, center, 10px);
        width: 100%;

        @include mobile-l {
            @include flex(column, center, start, 0);
        }
    }

    &__logo {
        aspect-ratio: 264/38;
        width: 220px;
        flex-shrink: 0;

        &:hover {
            opacity: 0.8;
        }
    }

    &__contacts {
        @include flex(row, space-between, center, 20px);

        @include mobile-l {
            display: none;
        }
    }

    &__link {
        padding: 5px;
        font-size: 20px;
        color: $color-accent;
        text-wrap: nowrap;

        &:hover {
            opacity: 0.8;
        }

        @include tablet {
            font-size: 16px;
        }
    }

    &__menu {
        width: 100%;

        @include mobile-l {
            display: none;
        }
    }

    &__menu-list {
        @include flex(row, space-between, center, 10px);

        @include tablet {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-areas: 'a b c c'
                'd e f g';
            justify-items: center;
        }
    }

    &__menu-item:nth-child(4) {
        grid-area: c;
    }

    &__menu-link {
        padding: 6px;
        white-space: nowrap;
        color: $color-dark;

        &:hover {
            color: $color-accent;
        }
    }

    &__burger-button {
        display: none;

        @include mobile-l {
            display: block;
        }
    }
}