:root {
    --background-color: #fff;
    --element-color: #000;
    --element-color-transparent: #00000080;
}

:root[theme='dark'] {
    --background-color: #000;
    --element-color: #fff;
    --element-color-transparent: #ffffff80;

    .my_foto,
    .card-img-top {
        filter: brightness(80%);
    }
}

::selection {
    background-color: var(--element-color);
    color: var(--background-color);
}

::-webkit-scrollbar {
    background-color: var(--background-color);
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--element-color);
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html {
    scroll-padding-top: 0px;
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
}

body {
    background-color: var(--background-color);
    color: var(--element-color);
    cursor: url('img/cursor.png') 14 14, auto;
}

a:hover {
    cursor: url('img/cursor_interactive.png') 14 14, auto;
}

button:hover {
    cursor: url('img/cursor_interactive.png') 14 14, auto;
}

.carousel-control-prev:hover {
    cursor: url('img/cursor_interactive.png') 14 14, auto;
}

.carousel-control-next:hover {
    cursor: url('img/cursor_interactive.png') 14 14, auto;
}

.navbar {
    background-color: var(--background-color) !important;
    --bs-navbar-toggler-icon-bg: url() !important;
}

.navbar-toggler {
    width: 56px;
    height: 40px;
    border-radius: 0;
    border: solid 1px;
    border-color: var(--element-color);
    background-color: var(--background-color);
    color: var(--element-color);
    padding: 0;
}

.nav-item {
    border-top: 1px solid var(--element-color);
    border-right: 1px solid #00000000;
    border-bottom: 1px solid var(--element-color);
    border-left: 1px solid var(--element-color);
    background-color: var(--background-color);
    color: var(--element-color);
    padding: 2px 2px;
    height: 46px;
    user-select: none;
}

.nav-item_wider {
    min-width: 80px;
}

.right-nav-item {
    border: solid 1px;
}

.nav-item:hover {
    border: solid 3px;
    border-color: var(--element-color);
    background-color: var(--background-color);
    color: var(--element-color);
    padding: 0px 0px;
    cursor: url('img/cursor_interactive.png') 14 14, auto;
}

.nav-link:focus,
.nav-link:hover {
    color: var(--element-color);
    cursor: url('img/cursor_interactive.png') 14 14, auto;
}

.nav-item:active {
    border-radius: 0 !important;
    border: solid 1px !important;
    border-color: var(--element-color) !important;
    background-color: var(--element-color) !important;
    color: var(--background-color) !important;
    padding: 2px 2px !important;
}

.right-nav-item:active {
    border: solid 1px;
    border-color: var(--element-color);
    background-color: var(--element-color);
}

.nav-link {
    color: var(--element-color);
    text-align: center;
}

.nav-link:active {
    color: var(--background-color);
}

.github_button {
    margin-left: 10vw;
}

.change_theme_button {
    width: 130px;
    margin-left: 30vw;
}

.block {
    position: relative;
}

.anchor {
    position: absolute;
    visibility: hidden;
    top: 0;
    left: 0;
}

.progress-bar {
    position: fixed;
    left: 0;
    top: 61px;
    height: 1px;
    width: 0%;
    background: var(--element-color);
    z-index: 1;
}

h1 {
    font-size: 60px;
    font-weight: 700;
}

.main p {
    font-size: 30px;
    font-weight: 700;
}

.main-text {
    padding: 10% 0 10% 6%;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    padding-left: 3%;
    margin-top: 6%;
}

.block_about_me {
    background-color: #00000000;
    border-right: 0.25vw solid var(--element-color);
}

.about_me p {
    font-size: 22px;
    padding: 2% 2% 0 2%;
}

.col-3 p {
    margin-left: 25%
}

.on_center {
    text-align: center;
}

.projects {
    row-gap: 50px;
}

.projectCard {
    margin-bottom: 0px !important;
}

.card {
    border-radius: 0;
    border: solid 1px;
    border-color: var(--background-color);
    background-color: var(--background-color);
}

.card-img,
.card-img-top {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.card-title,
.card-text {
    color: var(--element-color);
    text-wrap: pretty;
}

.btn_restyling {
    border-radius: 0;
    border: solid 1px;
    border-color: var(--element-color);
    background-color: var(--background-color);
    color: var(--element-color);
    padding: 6px 12px;
}

.btn_restyling:hover {
    border-radius: 0;
    border: solid 3px;
    border-color: var(--element-color);
    background-color: var(--background-color);
    color: var(--element-color);
    padding: 4px 10px;
    cursor: url('img/cursor_interactive.png') 14 14, auto;
}

.btn_restyling:active {
    border-radius: 0 !important;
    border: solid 1px !important;
    border-color: var(--element-color) !important;
    background-color: var(--element-color) !important;
    color: var(--background-color) !important;
    padding: 6px 12px !important;
}

.button_to_top {
    margin: 2% auto;
    border-radius: 0;
    border: solid 1px;
    border-color: var(--element-color);
    background-color: var(--background-color);
    color: var(--element-color);
    padding: 6px 12px;
}

.button_to_top:hover {
    margin: 2% auto;
    border-radius: 0;
    border: solid 3px;
    border-color: var(--element-color);
    background-color: var(--background-color);
    color: var(--element-color);
    padding: 4px 10px;
    cursor: url('img/cursor_interactive.png') 14 14, auto;
}

.button_to_top:active {
    border-radius: 0 !important;
    border: solid 1px !important;
    border-color: var(--element-color) !important;
    background-color: var(--element-color) !important;
    color: var(--background-color) !important;
    padding: 6px 12px !important;
}

@media screen and (min-width: 1900px) {

    .github_button {
        margin-left: 22vw;
    }

    .change_theme_button {
        margin-left: 38vw;
    }
}

@media screen and (max-width: 1270px) {

    .change_theme_button {
        margin-left: 15vw;
    }
}

@media screen and (max-width: 992px) {

    .navbar {
        height: 56px;
    }

    .navbar-brand {
        width: 80%;
        height: 40px;
    }

    .navbar-nav {
        width: 50%;
        float: right;
    }

    .navbar-toggler {
        margin-top: 3px;
    }

    .github_button {
        margin-left: auto;
    }

    .change_theme_button {
        width: auto;
        margin-left: auto;
    }

    .top-nav-item {
        margin-top: 0.25rem;
    }

    .nav-item {
        border-top: 1px solid var(--element-color);
        border-right: 1px solid var(--element-color);
        border-bottom: 1px solid #00000000;
        border-left: 1px solid var(--element-color);
        background-color: var(--background-color);
        color: var(--element-color);
        margin-left: 0.25rem;
        padding: 2px 2px;
        height: 46px;
        width: 100%;
    }

    .bottom-nav-item {
        border-bottom: 1px solid var(--element-color);
    }

    .nav-link {
        text-align: left;
        margin-left: 25%;
    }

    .anchor {
        top: -5vh;
    }

    .progress-bar {
        top: 55px;
    }

    .block_about_me {
        border-right: 0;
    }

    .col-3 p {
        margin-left: 15%;
    }
}

.burger_pack {
    width: 56px;
    height: 40px;
}

.burger {
    position: relative;
    top: 9px;
    left: 12px;
    background: #00000000;
    width: 30px;
    height: 21px;
}

.burger::before,
.burger::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background: var(--element-color);
}

.burger::before {
    top: 0;
    box-shadow: 0 10px 0 var(--element-color);
}

.burger::after {
    bottom: 0;
}

.burger::before {
    transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}

.burger::after {
    transition: bottom .3s .15s, transform .3s;
}

.burger.active::before {
    top: 10px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 #00000000;
    transition: box-shadow .15s, top .3s, transform .3s .15s;
}

.burger.active::after {
    left: 0px;
    bottom: 10px;
    transform: rotate(-45deg);
    transition: bottom .3s, transform .3s .15s;
}

.navbar-toggler_shadow {
    box-shadow: 0 0 0 0.25rem !important;
}