.contacts-footer {
    &__link {
        padding: 7px;
        font-size: 14px;
        letter-spacing: 0.05em;
        color: $color-text;

        &-span {
            font-weight: 700;
            color: $color-accent;

            &::-moz-selection {
                background-color: $color-text;
            }

            &::selection {
                background-color: $color-text;
            }
        }
    }

    &__text {
        padding: 7px;
        font-size: 14px;
        letter-spacing: 0.05em;
        color: $color-text;
        white-space: nowrap;

        @include tablet {
            white-space: wrap;
        }

        @include mobile-m {
            font-size: 11px;
        }
    }
}