.map {
    padding: 20px 0 180px;
}

.map__inner {
    position: relative;

    &::after {
        content: 'V';
        position: absolute;
        top: 0px;
        left: -30%;
        opacity: 0.02;
        z-index: -10;
        font-size: 400px;
        font-family: $fourth-family;

        @include desktop-m {
            top: 100px;
            left: -20%;
        }

        @include desktop-s {
            left: -10%;
        }

        @include tablet {
            left: 10%;
        }

        @include mobile-l {
            top: 80px;
            left: 10%;
        }
    }
}

.map__title {
    padding-bottom: 20px;
}