.instruments {
    &__inner {
        margin: 0 0 4rem;
    }

    &__title {}

    &__card-wrapper {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 1rem;

        @include mobile-l {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &__card {
        @include flex(column, start, center, 0.5rem);
    }

    &__card-image {
        width: 100px;

        @include mobile-l {
            width: 50px;
        }
    }

    &__card-text {
        text-align: center;
    }
}