.project-card {
    padding: 1rem;
    aspect-ratio: 32 / 25;
    width: 34rem;

    @include tablet-l {
        width: 30rem;
    }

    @include tablet-s {
        width: 22rem;
    }

    @include mobile-l {
        width: 100%;
    }

    &__swiper {
        user-select: none;
    }

    &__swiper-slide-image {
        aspect-ratio: 600 / 280;
        width: 34rem;

        @include tablet-l {
            width: 30rem;
        }

        @include tablet-s {
            width: 22rem;
        }

        @include mobile-l {
            width: 100%;
        }
    }

    &__swiper-button-prev {
        aspect-ratio: 1;
        width: 2rem;

        &:after {
            content: '';
            aspect-ratio: 1;
            width: 2rem;
            background-image: url('../images/arrow.svg');
        }

        &:hover:after {
            background-image: url('../images/arrow_hover.svg');
        }
    }

    &__swiper-button-next {
        aspect-ratio: 1;
        width: 2rem;
        transform: rotate(180deg);

        &:after {
            content: '';
            aspect-ratio: 1;
            width: 2rem;
            background-image: url('../images/arrow.svg');
        }

        &:hover:after {
            background-image: url('../images/arrow_hover.svg');
        }
    }

    &__title {
        margin-top: 1rem;
        font-size: 1.25rem;
        font-weight: 500;
    }

    &__text {
        margin-top: 0.5rem;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;
    }

    &__icons-wrapper {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    &__icon-wrapper {
        position: relative;
        display: inline-block;
    }

    &__icon-tooltip {
        position: absolute;
        top: 125%;
        left: 200%;
        transform: translateX(-50%);
        white-space: nowrap;
        z-index: 10;
        padding: 0.1875rem 0.5rem;
        text-align: center;
        font-size: 0.875rem;
        background-color: var(--color-background);
        color: var(--color-element);
        border: 1px solid var(--color-element);
        opacity: 0;
        visibility: hidden;
    }

    &__icon-wrapper:hover &__icon-tooltip {
        opacity: 1;
        visibility: visible;
        transition-delay: 0.5s;
    }
}

.tooltip-react-router {
    top: 150%;
    left: 275%;
}

.tooltip-java-script {
    top: 125%;
    left: 275%;
}