.project-card {
    display: flex;
    flex-direction: column;
    width: 34rem;
    padding: 1rem;

    &:nth-child(even) {
        @media (max-width: 1280px) {
            .project-card__icon-wrapper:nth-last-child(1)>.project-card__icon-tooltip {
                left: -125%;
            }
        }
    }

    @include tablet-l {
        aspect-ratio: 32 / 25;
        width: 30rem;
    }

    @include tablet-s {
        width: 22rem;
    }

    @include mobile-l {
        width: 100%;
    }

    &__swiper {
        width: 100%;
        user-select: none;
    }

    &__swiper-slide-image {}

    &__swiper-button-prev {
        aspect-ratio: 1;
        width: 2rem;

        &:after {
            content: '';
            aspect-ratio: 1;
            width: 2rem;
            background-image: url('../images/arrow.svg');
        }

        &:hover:after {
            background-image: url('../images/arrow_hover.svg');
        }
    }

    &__swiper-button-next {
        aspect-ratio: 1;
        width: 2rem;
        transform: rotate(180deg);

        &:after {
            content: '';
            aspect-ratio: 1;
            width: 2rem;
            background-image: url('../images/arrow.svg');
        }

        &:hover:after {
            background-image: url('../images/arrow_hover.svg');
        }
    }

    &__title {
        margin-top: 1rem;
        font-size: 1.25rem;
        font-weight: 500;
    }

    &__text {
        margin-top: 0.5rem;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: auto;
    }

    &__icons-wrapper {
        display: flex;
        align-items: center;
        gap: 1rem;

        @include mobile-s {
            gap: 0.5rem;
        }
    }

    &__icon-wrapper {
        position: relative;
        display: inline-block;

        @include mobile-s {
            width: 1.5rem;
            height: 1.5rem;
        }

        @include mobile-l {

            &:nth-last-child(2)>.project-card__icon-tooltip,
            &:nth-last-child(1)>.project-card__icon-tooltip {
                left: -100%;
            }
        }
    }

    &__icon-tooltip {
        position: absolute;
        top: 125%;
        left: 200%;
        transform: translateX(-50%);
        white-space: nowrap;
        z-index: 10;
        padding: 0.1875rem 0.5rem;
        text-align: center;
        font-size: 0.875rem;
        background-color: var(--color-background);
        color: var(--color-element);
        border: 1px solid var(--color-element);
        opacity: 0;
        visibility: hidden;
    }

    &__icon-wrapper:hover &__icon-tooltip {
        opacity: 1;
        visibility: visible;
        transition-delay: 0.5s;
    }
}

.tooltip-react-router {
    top: 150%;
    left: 275%;
}

.tooltip-java-script {
    top: 135%;
    left: 275%;
}

.tooltip-typescript {
    top: 135%;
    left: 275%;
}

.projects__pane:nth-last-child(2) .project-card {
    height: 28rem;

    @include tablet-l {
        height: 27rem;
    }

    @include tablet-s {
        height: 25rem;
    }

    @include mobile-l {
        height: 27rem;
    }

    @include mobile-m {
        height: 25rem;
    }

    @include mobile-s {
        height: 24rem;
    }
}

.projects__pane:nth-last-child(1) .project-card {
    height: 31rem;

    @include tablet-l {
        height: 29rem;
    }

    @include tablet-s {
        height: 28rem;
    }

    @include mobile-l {

        &:nth-child(1),
        &:nth-child(3) {
            height: 25rem;
        }
    }

    @include mobile-s {

        &:nth-child(1),
        &:nth-child(3) {
            height: 24rem;
        }
    }
}