.projects {
    &__inner {
        margin: 0 0 4rem;
    }

    &__title {}

    &__navigate {
        display: flex;
        justify-content: center;
        margin-bottom: 1.25rem;
    }

    &__button {
        min-width: 6rem;
        text-decoration: line-through;

        &--active {
            text-decoration: none;

            &:hover {
                box-shadow: 0px 0px 0px 0px transparent inset;
                cursor: url('../images/cursor.png') 14 14, auto;
            }

            &:active {
                background-color: var(--color-background);
                color: var(--color-element);
            }
        }

        &:nth-child(1) {
            border-right: none;
        }
    }

    &__pane {
        display: none;

        &--active {
            display: block;
        }
    }

    &__card-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 34rem);
        justify-content: center;
        gap: 3rem;

        @include desktop-m {
            grid-template-columns: repeat(2, 34rem);
            gap: 4rem;
        }

        @include tablet-l {
            grid-template-columns: repeat(2, 30rem);
            gap: 1rem;
        }

        @include tablet-s {
            grid-template-columns: repeat(2, 22rem);
        }

        @include mobile-l {
            grid-template-columns: repeat(1, 100%);
            gap: 3rem;
        }
    }

    &__card {}
}