:root {
    --background-color: #fff;
    --element-color: #000;
}

:root[theme='dark'] {
    --background-color: #000;
    --element-color: #fff;
}

body {
    background-color: var(--background-color);
    color: var(--element-color);
}

::placeholder {
    color: var(--element-color);
}

.calc {
    width: 400px;
    border: solid 1px;
    margin: 150px auto 5px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

.calc input {
    width: 291px;
    height: 38px;
    margin-top: 5px;
    border-top: 1px solid var(--element-color);
    border-right: 1px solid var(--element-color);
    border-bottom: 1px solid var(--element-color);
    border-left: 1px solid var(--element-color);
    background-color: var(--background-color);
    color: var(--element-color);
}

.btn {
    width: 90px;
    height: 30px;
    border: solid 1px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    padding-top: 10px;
    margin-top: 5px;
    cursor: pointer;
}

.on_center {
    width: 160px;
    height: 30px;
    margin: 0 auto 5px auto;
}

.class_change_theme {
    width: 146px;
    height: 26px;
    border: solid 1px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    cursor: pointer;
    padding-top: 2px;
}