.cross-button {
    position: relative;
    padding: 0;
    aspect-ratio: 1;
    width: 50px;
    background-color: transparent;
    border: none;

    &--position {
        margin: 5px 6px 0 0;
    }

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 12px;
        width: 50%;
        height: 2px;
        background-color: $color-accent;
        transition: $transition-duration ease-out;
    }

    &::before {
        rotate: 45deg;
    }

    &::after {
        rotate: -45deg;
    }

    &:hover::before,
    &:hover::after {
        background-color: $color-accent;
        transition: $transition-duration ease-out;
    }
}