$first-family: "Roboto", sans-serif;
$second-family: "Yellowtail", sans-serif;

$color-main: #000000;
$color-accent-first: #6666ff;
$color-accent-second: #ff0099;
$color-text: #ffffff;

$transition-duration: 0.2s;