@use '../base/media' as *;

.card {
  position: relative;
  width: var(--card-size-l);
  user-select: none;
  transition-duration: var(--transition-duration);

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition-duration: var(--transition-duration);
  }

  @include desktop-m {
    width: var(--card-size-m);
  }

  @include desktop-s {
    width: var(--card-size-s);
  }

  @include tablet-l {
    width: var(--card-size-l);
  }

  @include tablet-s {
    width: var(--card-size-m);
  }

  @include mobile-l {
    width: var(--card-size-xs);
  }

  @include mobile-m {
    width: var(--card-size-xxs);
  }

  @include mobile-s {
    width: var(--card-size-xxxs);
  }

  &__back,
  &__front {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1;
    transition-duration: var(--transition-duration);
  }

  &__front {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    transform: rotateZ(180deg);
    background-image: url('@images/card__front-image-light.webp');
    background-size: contain;

    &--dark {
      background-image: url('@images/card__front-image-dark.webp');
    }

    &--transparent {
      transform: rotate3d(0, 90, 90, 180deg);
      background-image: url('@images/transparent.webp');
    }

    &-image {
      width: calc(var(--card-size-l) - 48px);
      transform: scaleX(-1);
      user-select: none;

      @include desktop-m {
        width: calc(var(--card-size-m) - 32px);
      }

      @include desktop-s {
        width: calc(var(--card-size-s) - 32px);
      }

      @include tablet-l {
        width: calc(var(--card-size-l) - 48px);
      }

      @include tablet-s {
        width: calc(var(--card-size-m) - 48px);
      }

      @include mobile-l {
        width: calc(var(--card-size-s) - 64px);
      }

      @include mobile-s {
        width: calc(var(--card-size-xxs) - 32px);
      }
    }
  }
}

.selected > .card__back {
  transform: rotateX(180deg);
}

.selected > .card__front {
  opacity: 1;
  transform: rotateY(180deg);
}
