.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;

  &[data-loading] {
    pointer-events: none;
    user-select: none;

    .image,
    .title,
    .price {
      background-color: var(--color-element);
      color: transparent !important;
    }

    .image {
      animation: global(pulse) 1s ease-in-out infinite alternate;
    }

    .title {
      height: 2.25rem;
      animation: global(pulse) 1s ease-in-out infinite alternate 0.25s;
    }

    .price {
      height: 1.875rem;
      animation: global(pulse) 1s ease-in-out infinite alternate 0.5s;
    }
  }
}

.image {
  aspect-ratio: 3/4;
  width: 100%;
}

.title {
  min-width: 70%;
  font-size: 1.75rem;
  line-height: 1.25;
  text-align: center;
}

.price {
  min-width: 50%;
  font-size: 1.5rem;
  line-height: 1.25;
  text-align: center;
}
