$first-family: "Raleway Regular", sans-serif;
$second-family: "PlayfairDisplay Bold", sans-serif;
// $second-family: "Afacad Regular", sans-serif;
$third-family: "Roboto Light", sans-serif;
$fourth-family: "PlayfairDisplay Bold", sans-serif;

$color-main: #242b33;
$color-main-alternate: #2d343c;
$color-accent: #d4c17f;
$color-text: #ffffff;

$transition-duration: 0.2s;