@import './base/normalize',
'./base/fonts',
'./base/mixins',
'./base/media',
'./base/variables',
'./base/globals',
'./base/photoswipe';

@import './blocks/header',
'./blocks/button',
'./blocks/burger-button',
'./blocks/mobile-overlay',
'./blocks/cross-button',
'./blocks/hero',
'./blocks/about',
'./blocks/decore-image',
'./blocks/menu',
'./blocks/section-title',
'./blocks/section-subtitle',
'./blocks/swiper',
'./blocks/contacts',
'./blocks/yandex-map',
'./blocks/gallery',
'./blocks/footer';