.stopwatch {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: calc(100% + 55px);

    @media (max-width: 767px) {
        width: 100%;
    }
}

.time {
    display: flex;
    font-size: 100px;

    @media (max-width: 767px) {
        font-size: 60px;
    }

     @media (max-width: 430px) {
        margin-left: -6vw;
        font-size: 60px;
    }
}

.hours,
.minutes,
.seconds {
    display: inline-block;
    min-width: 112px;

    @media (max-width: 767px) {
        min-width: 60px;
    }
}

.millisecondsTenths {}

.millisecondsHundredths {
    position: relative;

    span {
        position: absolute;
    }

    &[data-state="paused"] {
        .digit0 {
            opacity: 1;
        }

        .digit5 {
            opacity: 0;
        }
    }

    &[data-state="running"] {
        .digit0 {
            animation: show0 0.1s infinite;
        }

        .digit5 {
            animation: show5 0.1s infinite;
        }
    }
}

.millisecondsThousandths {
    position: relative;
    margin-left: 1ch;

    span {
        position: absolute;
    }

    &[data-state="paused"] {
        .digit0 {
            opacity: 1;
        }

        .digit3 {
            opacity: 0;
        }

        .digit6 {
            opacity: 0;
        }

        .digit8 {
            opacity: 0;
        }
    }

    &[data-state="running"] {
        .digit0 {
            animation: showDigit0 0.1s infinite steps(1);
        }

        .digit3 {
            animation: showDigit3 0.1s infinite steps(1);
        }

        .digit6 {
            animation: showDigit6 0.1s infinite steps(1);
        }

        .digit8 {
            animation: showDigit8 0.1s infinite steps(1);
        }
    }
}

.controls {
    display: flex;
    justify-content: center;
    gap: 20px;

    @media (max-width: 767px) {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}

.disabled {
    text-decoration: line-through;
}

@keyframes show0 {

    0%,
    49.999% {
        opacity: 1;
    }

    50%,
    100% {
        opacity: 0;
    }
}

@keyframes show5 {

    0%,
    49.999% {
        opacity: 0;
    }

    50%,
    100% {
        opacity: 1;
    }
}

@keyframes showDigit0 {

    0%,
    24.999% {
        opacity: 1;
    }

    25%,
    100% {
        opacity: 0;
    }
}

@keyframes showDigit3 {

    0%,
    24.999% {
        opacity: 0;
    }

    25%,
    49.999% {
        opacity: 1;
    }

    50%,
    100% {
        opacity: 0;
    }
}

@keyframes showDigit6 {

    0%,
    49.999% {
        opacity: 0;
    }

    50%,
    74.999% {
        opacity: 1;
    }

    75%,
    100% {
        opacity: 0;
    }
}

@keyframes showDigit8 {

    0%,
    74.999% {
        opacity: 0;
    }

    75%,
    100% {
        opacity: 1;
    }
}