@font-face {
    font-family: 'HQY Savers Text';
    src: url('../fonts/HQY_Savers_Text.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'XPLOR Bold';
    src: url('../fonts/XPLOR_Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}