::-moz-selection {
    color: $color-dark;
    background-color: $color-light;
}

::selection {
    color: $color-dark;
    background-color: $color-light;
}

::-webkit-scrollbar {
    background-color: $color-dark;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: $color-light;
}

*:focus-visible {
    outline: 2px solid $color-light;
    outline-offset: 2px;
    border-radius: 2px;
}

a {
    transition: $transition-duration ease-out;
}

a:hover {
    transition: $transition-duration ease-out;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    right: 15%;
    display: none;
    font-size: 24px;
    color: transparent;
    background: transparent;
    padding: 10px 10px 2px;
    border: 3px solid $color-light;
    cursor: pointer;
    z-index: 1000;

    @media (max-width: 2560px) {
        right: 600px;
    }

    @media (max-width: 1920px) {
        right: 290px;
    }

    @media (max-width: 1536px) {
        right: 100px;
    }

    @media (max-width: 1440px) {
        right: 50px;
    }

    @media (max-width: 1366px) {
        right: 20px;
    }

    @media (max-width: 1360px) {
        right: 3px;
    }

    @media (max-width: 1280px) {
        display: none !important;
    }
}

.block {
    position: relative;
}

.anchor {
    position: absolute;
    visibility: hidden;
    top: -60px;
    left: 0;
}

body {
    font-family: $first-family;
    background-color: $color-dark;
    color: $color-light;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
}

body .pswp .pswp__container {
    transition: transform 1s cubic-bezier(.3, 0, 0, 1);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1120px;
    padding-inline: 10px;
    margin: 0 auto;
}