@import url('./normalize.css');

@media (prefers-color-scheme: light) {
    :root {
        --color-background: #ffffff;
        --color-element: #000000;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: #000000;
        --color-element: #ffffff;
    }
}

::-moz-selection {
    background-color: var(--color-element);
    color: var(--color-background);
}

::selection {
    background-color: var(--color-element);
    color: var(--color-background);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: var(--color-background);
    color: var(--color-element);
    font-size: 24px;
    font-weight: 200;
    line-height: 1.5;
    cursor:
        url(/cursor.png) 14 14,
        auto;
}

input:hover {
    box-shadow: 0px 0px 0px 2px var(--color-element) inset;
    cursor:
        url(/cursor_interactive.png) 14 14,
        auto;
}

label:hover {
    cursor:
        url(/cursor_interactive.png) 14 14,
        auto;
}

input:focus-visible {
    outline: none;
    box-shadow: none;
}