@font-face {
    font-family: 'ALSSirius';
    src: url('../fonts/ALSSirius-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ALSSirius';
    src: url('../fonts/ALSSirius-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ALSSirius';
    src: url('../fonts/ALSSirius-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}