$first-family: "ALSSirius", sans-serif;

$color-light: #ffffff;
$color-dark: #414141;
$color-accent: #ff4123;
$color-gray: #cecece;
$color-gray-alternate: #9b9b9b;

$transition-duration: 0.2s;
$border-radius-small: 20px;
$border-radius-medium: 30px;
$border-radius-large: 40px;