::-moz-selection {
    background-color: var(--color-accent);
    color: var(--color-background);
}

::selection {
    background-color: var(--color-accent);
    color: var(--color-background);
}

::-webkit-scrollbar {
    background-color: var(--color-background);
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-accent);
}

html {
    scrollbar-gutter: auto;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--color-background);
    color: var(--color-element);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    margin: 0 auto;
    padding-inline: 20px;
    max-width: 1200px;
}