$first-family: "Roboto", sans-serif;

$color-light: #ffffff;
$color-dark: #000000;
$color-accent-light: #00527f;
$color-accent-dark: #ffffff;

$transition-duration: 0.35s;

$card-size-l: 192px;
$card-size-m: 160px;
$card-size-s: 128px;
$card-size-xs: 96px;
$card-size-xxs: 88px;
$card-size-xxxs: 80px;