@import url('normalize.css');

@font-face {
    font-family: 'OpenSans Regular';
    src: url('./fonts/OpenSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans Bold';
    src: url('./fonts/OpenSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BebasNeue Regular';
    src: url('./fonts/BebasNeue-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    --font-family: "OpenSans Regular", sans-serif;
    --font-family-bold: "OpenSans Bold", sans-serif;
    --second-family: "BebasNeue Regular", sans-serif;
    --color-main: #ffffff;
    --color-text: #48555b;
    --color-accent: #00a4e5;
    --color-accent-dark: #026b94;
    --transition-duration: 0.2s;
    --header-height: 65px;
}


::selection {
    background-color: var(--color-accent);
    color: var(--color-main);
}

::-webkit-scrollbar {
    background-color: var(--color-main);
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-accent);
}

*:focus {
    outline: none;
}

body {
    font-family: var(--font-family);
    background-color: var(--color-main);
    color: var(--color-text);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    color: var(--color-text);
}

a:hover {
    color: var(--color-accent);
}

/*  */
/*  */
/*  */
/*  */
/*  */

.banner {
    width: 100%;
    height: 768px;
    background-image: url(./images/banner-background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.banner-logo {
    padding-top: 40px;
    margin: 0 auto;
}

.banner-title {
    margin-top: 305px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 60px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #fff;
}

.banner-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #fff;
}

.banner-tip {
    margin-top: 220px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 0.34em;
    text-align: center;
    color: #fff;
}

/*  */
/*  */
/*  */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 17vw;
    border-bottom: 1px solid #cccccc;
    height: var(--header-height);
    position: sticky;
    top: 0;
    background-color: var(--color-main);
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo-image {
    width: 80px;
    height: 18px;
}

.header-menu {
    display: flex;
}

.header-menu-list {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    align-items: center;
}

.header-menu-link {
    height: 40px;
    padding-top: 12px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.09em;
    color: var(--color-text);
}

.header-menu-link:hover {
    color: var(--color-accent);
}

/*  */
/*  */
/*  */

.story {
    margin-top: 60px;
    margin-inline: 17vw;
}

.story-title {
    font-family: var(--font-family-bold);
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.13em;
    text-align: center;
    color: var(--color-text);
}

.story-title::after {
    content: '';
    display: block;
    width: 50px;
    height: 2px;
    margin: 10px auto 0;
    background-color: var(--color-accent);
}

.story-body {
    display: flex;
    flex-direction: row;
    margin-top: 80px;
}

.story-body-text-block {
    max-width: 406px;
}

.story-body-text-block-text1 {
    font-family: var(--font-family-bold);
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.01em;
    color: var(--color-text);
}

.story-body-text-block-text1-span {
    color: var(--color-accent);
}

.story-body-text-block-text2 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    line-height: 177%;
    letter-spacing: 0.01em;
    color: var(--color-text);
    margin-top: 30px;
}

.story-body-image-block {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    flex-shrink: 0;
    align-items: center;
    margin-left: 76px;
}

/*  */
/*  */
/*  */

.capabilities {
    margin-top: 120px;
    margin-inline: 17vw;
}

.capabilities-top {
    display: flex;
    flex-direction: row;
}

.capabilities-top-title {
    font-family: var(--font-family-bold);
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.13em;
    color: var(--color-text);
    text-wrap: nowrap;
}

.capabilities-top-title:after {
    content: '';
    display: block;
    width: 50px;
    height: 2px;
    margin-top: 10px;
    background-color: var(--color-accent);
}

.capabilities-top-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 11px;
    line-height: 173%;
    letter-spacing: 0.02em;
    color: var(--color-text);
    margin-left: 10vw;
    max-width: 400px;
}

.capabilities-top-button {
    flex-shrink: 0;
    width: 150px;
    height: 40px;
    color: var(--color-main);
    background-color: var(--color-accent);
    border: 1px solid var(--color-accent);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.04em;
    margin-left: 35px;
    justify-content: center;
    align-items: center;
}

.capabilities-top-button:hover {
    color: var(--color-main);
    border: 1px solid var(--color-accent-dark);
}

.capabilities-top-button:active {
    color: var(--color-main);
    background-color: var(--color-accent-dark);
    border: 1px solid var(--color-accent-dark);
}

.capabilities-body {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    margin-top: 80px;
}

.capabilities-body-card {
    padding: 40px 25px;
    border: 1px solid #cccccc;
}

.capabilities-body-card-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: var(--color-text);
    margin-top: 25px;
}

.capabilities-body-card-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    line-height: 177%;
    letter-spacing: 0.01em;
    color: var(--color-text);
    margin-top: 15px;
}

/*  */
/*  */
/*  */

.get-in-touch {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 498px;
    background-image: url(./images/get-in-touch-background.png);
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: 115px;
}

.get-in-touch-title {
    max-width: 350px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    letter-spacing: 0.01em;
    text-align: center;
    color: var(--color-text);
    margin-top: 120px;
}

.get-in-touch-button {
    width: 150px;
    height: 40px;
    color: var(--color-main);
    background-color: var(--color-accent);
    border: 1px solid var(--color-accent);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.04em;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}


.get-in-touch-button:hover {
    color: var(--color-main);
    border: 1px solid var(--color-accent-dark);
}

.get-in-touch-button:active {
    color: var(--color-main);
    background-color: var(--color-accent-dark);
    border: 1px solid var(--color-accent-dark);
}

/*  */
/*  */
/*  */

.subscribe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #171819;
    margin-top: -2px;
}

.subscribe-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 3px;
    text-align: center;
    color: var(--color-main);
}

.subscribe-form {
    width: 250px;
    height: 40px;
    margin-left: 70px;
    border: 1px solid #808080;
    border-right: none;
}

.subscribe-form:focus {
    border: 1px solid var(--color-accent);
    border-right: none;
}

.subscribe-button {
    width: 150px;
    height: 40px;
    color: var(--color-main);
    background-color: var(--color-accent);
    border: 1px solid var(--color-accent);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 3px;
    justify-content: center;
    align-items: center;
}

.subscribe-button:hover {
    color: var(--color-main);
    border: 1px solid var(--color-accent-dark);
}

.subscribe-button:active {
    color: var(--color-main);
    background-color: var(--color-accent-dark);
    border: 1px solid var(--color-accent-dark);
}

/*  */
/*  */
/*  */

.footer {
    display: flex;
    flex-direction: row;
    height: 240px;
    background-color: #171819;
    padding-inline: 17vw;
    margin-top: -2px;
    padding-top: 40px;
}

.footer-left {
    max-width: 250px;
}

.footer-left-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 0.08em;
    color: var(--color-main);
}

.footer-left-logo-image {
    width: 102px;
    height: 23px;
    margin-top: 20px;
}

.footer-left-text {
    margin-top: 15px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 11px;
    line-height: 173%;
    letter-spacing: 0.08em;
    color: var(--color-main);
}

.footer-left-center {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}

.footer-left-center-title {
    height: 30px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 0.08em;
    color: var(--color-main);
}

.footer-left-center-list-wrapper {
    display: flex;
    flex-direction: row;
    column-gap: 35px;
}

.footer-left-center-list-link {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 11px;
    line-height: 227%;
    letter-spacing: 0.08em;
    color: var(--color-main);
    text-wrap: nowrap;
}

.footer-right-center {
    margin-left: 60px;
}

.footer-right-center-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 0.08em;
    color: var(--color-main);
}

.footer-right-center-text {
    margin-top: 15px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 11px;
    line-height: 145%;
    letter-spacing: 0.08em;
    color: var(--color-main);
}

.footer-right-center-telephone {
    margin-top: 20px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 11px;
    line-height: 145%;
    letter-spacing: 0.08em;
    color: var(--color-main);
}

.footer-right-center-mail {
    margin-top: 20px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 11px;
    line-height: 145%;
    letter-spacing: 0.08em;
    color: var(--color-main);
}

.footer-right {
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    align-items: flex-start;
    flex-shrink: 0;
    margin-left: 40px;
}

/*  */
/*  */
/*  */

.copyrights {
    display: flex;
    margin-top: -2px;
    height: 60px;
    background-color: #171819;
    padding-inline: 17vw;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 11px;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.08em;
    color: var(--color-main);
}

/*  */
/*  */
/*  */
/*  */
/*  */

@media (min-width: 1500px) {
    .story-body {
        justify-content: space-between;
    }

    .capabilities-top {
        justify-content: space-between;
    }

    .subscribe,
    .footer,
    .copyrights {
        width: 1440px;
        margin: 0 auto;
    }
}

@media (max-width: 1300px) {
    .footer-left-center {
        margin-left: 20px;
    }

    .footer-right-center {
        margin-left: 20px;
    }
}

@media (max-width: 1200px) {
    .story-body {
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
    }

    .story-body-text-block {
        max-width: 600px;
    }

    .story-body-image-block {
        margin-top: 30px;
        margin-left: 0px;
    }

    .capabilities-top-text {
        margin-left: 3vw;
    }

    .get-in-touch {
        height: 498px;
        margin-top: 0px;
    }
}

@media (max-width: 1100px) {
    .footer {
        padding-top: 20px;
    }

    .copyrights {
        height: 120px;
        padding-top: 80px;
    }
}

@media (max-width: 1000px) {
    .header {
        padding-inline: 8vw;
    }

    .capabilities {
        margin-top: 60px;
    }

    .capabilities-top {
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
    }

    .capabilities-top-title:after {
        content: '';
        margin: 10px auto 0;
    }

    .capabilities-top-text {
        margin-left: 0;
    }

    .capabilities-top-button {
        margin-left: 0;
    }

    .footer {
        padding-inline: 8vw;
    }
}

@media (max-width: 800px) {
    .capabilities {
        margin-inline: 5vw;
    }

    .capabilities-body {
        margin-top: 20px;
    }

    .subscribe-form {
        margin-left: 20px;
        border-radius: 0;
    }

    .footer {
        flex-direction: column;
        row-gap: 50px;
        height: 600px;
        padding-left: 250px;
    }

    .footer-left-center {
        margin-left: 0;
    }

    .footer-right-center {
        margin-left: 0;
    }

    .footer-right {
        margin-left: 80px;
    }
}

@media (max-width: 700px) {
    .banner-title {
        margin-top: 280px;
        margin-inline: 20px;
    }

    .banner-text {
        margin-inline: 40px;
    }

    .banner-tip {
        margin-top: 160px;
    }

    .story {
        margin-inline: 8vw;
    }

    .subscribe {
        flex-direction: column;
        height: 180px;
    }

    .subscribe-form {
        margin-left: 0;
        margin-top: 20px;
    }

    .subscribe-button {
        width: 250px;
    }

    .footer {
        padding-left: 200px;
    }
}

@media (max-width: 600px) {
    .header {
        padding-inline: 10px;
    }

    .header-menu-list {
        column-gap: 10px
    }

    .story {
        margin-inline: 10px;
    }

    .capabilities-body {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }

    .capabilities-body-card {
        padding: 30px 15px;
        max-width: 300px;
    }

    .footer {
        padding-left: 130px;
    }

    .footer-right {
        margin-left: 110px;
    }
}

@media (max-width: 500px) {
    .banner-title {
        margin-top: 160px;
    }

    .story-body-image-block-image {
        width: 28vw;
        aspect-ratio: 140 / 224;
    }

    .capabilities-body-card-image {
        margin: 0 auto;
    }

    .footer {
        padding-left: 18vw;
    }

    .copyrights {
        padding-inline: 5vw;
    }

    .footer-right {
        margin-left: 18vw;
    }
}

@media (max-width: 400px) {
    .header {
        flex-wrap: wrap;
        column-gap: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}