.logo {

    &:hover {

        path:nth-child(1),
        path:nth-child(2) {
            fill: $color-accent-alternate;
            transition-duration: 1s;
        }
    }

    &__image {

        path:nth-child(1),
        path:nth-child(2) {
            fill: $color-accent;
            transition-duration: 1s;

            &:hover {
                fill: $color-accent-alternate;
                transition-duration: 1s;
            }
        }

        path:nth-child(3),
        path:nth-child(4),
        path:nth-child(5),
        path:nth-child(6),
        path:nth-child(7),
        path:nth-child(8),
        path:nth-child(9),
        path:nth-child(10),
        path:nth-child(11) {
            fill: $color-main;
        }
    }
}