$first-family: "PTSans", sans-serif;
$second-family: "FiraSansCondensed", sans-serif;
$third-family: "SecularOne", sans-serif;

$color-main: #2f2f2f;
$color-text: #ffffff;
$color-green: #c4e86c;
$color-green-alternate: #a4d329;
$color-red: #ff4747;
$color-orange: #ffb548;
$color-orange-alternate: #FF9E01;
$color-blue: #01bcb5;
$color-blue-alternate: #016865;

$transition-duration: 0.5s;