@use "../base/media" as *;

.form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1.15rem;

  @include tablet-s {
    gap: 1.5rem;
  }

  &__field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
  }

  &__field-label {
    line-height: 1.9;
    letter-spacing: 0.04em;
    color: var(--color-blue-04);
    opacity: 0.8;

    @include desktop-s {
      line-height: 1;
    }
  }

  &__field-input,
  &__field-textarea {
    padding-left: 2rem;
    border: 0.0625rem solid var(--color-blue-01);
    border-radius: var(--border-radius);
    outline: none;

    @include mobile-m {
      padding-left: 1rem;
    }

    &:focus {
      outline: none;
      animation: glow 800ms ease-out infinite alternate;
      transform: scale(1.01);
    }

    &::placeholder {
      font-weight: 300;
      line-height: 1.9;
      color: var(--color-blue-04);
      opacity: 0.2;
    }
  }

  &__field-input {
    height: 4.5rem;

    @include desktop-s {
      height: 3rem;
    }

    @include tablet-l {
      height: 3.5rem;
    }
  }

  &__field-textarea {
    padding-top: 1.5rem;
    height: 9rem;
    resize: none;

    @include desktop-s {
      padding-top: 1rem;
      height: 5rem;
    }

    @include tablet-l {
      height: 6rem;
    }
  }

  &__submit {
    margin-top: 2.5rem;
    width: 100%;

    @include desktop-s {
      margin-top: 0;
    }
  }
}

@keyframes glow {
  0% {
    box-shadow:
      0 0 0.3125rem var(--color-blue-02),
      0 0.125rem 0 #0000;
  }

  100% {
    box-shadow:
      0 0 1.5rem var(--color-blue-04),
      0 0.25rem 0 #0000;
  }
}
