name: Deploy rzd-med

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy static project
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: projects/rzd-med
          clean: false
          target-folder: projects/rzd-med
