::-moz-selection {
    background-color: $color-accent-alternate;
}

::selection {
    background-color: $color-accent-alternate;
}

::-webkit-scrollbar {
    background-color: $color-main;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: $color-main-alternate;
}

*:focus {
    outline: none;
}

* {
    transition: $transition-duration ease-out;
}

*:hover {
    transition: $transition-duration ease-out;
}

.block {
    position: relative;
}

.anchor {
    position: absolute;
    visibility: hidden;
    top: -0px;
    left: 0;
}

body {
    font-family: $first-family;
    background-color: $color-main;
    color: $color-text;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;

    @include mobile-l {
        font-size: 14px;
    }
}

a {
    color: $color-text;
    transition: $transition-duration ease-out;

    &:hover {
        color: $color-accent;
        transition: $transition-duration ease-out;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1180px;
    padding-inline: 20px;
    margin: 0 auto;
}

.section-title {
    font-weight: 700;
    font-size: 40px;
    color: $color-main-alternate;

    @include mobile-l {
        font-size: 30px !important;
        text-align: start !important;
    }
}