$first-family: "Roboto Regular", sans-serif;

$color-main: #f8f9ff;
$color-main-alternate: #172755;
$color-accent: #ef2a82;
$color-accent-alternate: #0088f0;
$color-text: #8794ba;

$transition-duration: 0.2s;